#dataTable {
    border: 1px solid black;
    border-collapse: collapse;
}
#dataTable td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    width: 5px;
    height: 5px;
}
#dataTable td.estvivante {
    background-color: black;
}
.border-1 {
    border: 1px solid black;
    border-collapse: collapse;
}
.w-1 {
    width: 5px;
}
.h-1 {
    height: 5px;
}
